.snowfall
{
background-color:black ;
}

.rain{
background-color:black;
}
.clouds
{
background-color:#0b0b39;
}
.sunlight
{
  background-color: #0d540d;
}
.sunny
{
background-color:#bb9215;
}
.white
{
  color: white;
}
.green
{
  color: green;
}
.red
{
  color:red;
}
.snowfallRim
{
background-color:rgb(32, 31, 31) ;
}

.rainRim{
background-color:#080808;
}
.cloudsRim
{
background-color:#1d1d40;
}
.sunlightRim
{
  background-color: #337c33;
}
.sunnyRim
{
background-color:#c5a239;
}